.row {
    display: flex;
}

#element {
    flex-shrink: 0;
    border-style: solid;
    border-color: #eaeaea;
    box-sizing: border-box;
}

#element:hover {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}